#login-dp{
min-width: 250px;
padding: 14px 14px 0;
overflow:hidden;
background-color:#fff;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color: inherit;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#jumbo{
  background-color: #8BC34A;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
#login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
@font-face {
font-family: myFirstFont;
src: url(fonts/Traffolight.otf);
}
@font-face {
  font-family: mySecondFont;
  src: url(fonts/ABeeZee.ttf);
}
